{% load i18n %}{% autoescape off %}
{% blocktrans %}Bonjour, vous recevez ce mail apres votre requete de reinitialisation du mot de passe de votre compte TBSSI ELIT.{% endblocktrans %}

{% trans "Veuillez vous diriger vers ce lien pour choisir votre nouveau mot de passe:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Pour rappel ,votre nom d'Utilisateur est : " %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site !" %}

{% blocktrans %}L'equipe TBSSI ELIT{% endblocktrans %}

{% endautoescape %}