{% extends "layouts/base.html" %}

{% block title %} Acceuil {% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Document</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
  <h1> Acceuil
    <br>
        
  </h1>

 
  {% if user.is_authenticated %}
    <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}



  <a href="{% url 'administration' %}" class="btn btn-info" > Administration</a>


  <!--better version for later

  {% for group_for in request.user.groups.all %}
    {% if group_for.name == 'Customers' %}
        Text showed to users in group 'Customers'
    {% elif group_for.name == 'Sellers' %}
        Text showed to users in group 'Sellers'
    {% endif %}
{% endfor %}-->

</body>
</html>

{% endblock %}