{% extends "layouts/base.html" %}

<!--
    {% for indicateur in object_list %}
        <h2><a href="">{{indicateur.Intitule_Indicateur}}</h2></a>
        <p>{{indicateur.Id_TB}}</p>
        <p>{{indicateur.Id_Graphe}}</p>
        <p>{{indicateur.Periodicite}}</p>
    {% endfor %}

-->

{% block content%}
<html>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
<body>
    
    <script type="text/javascript">
        var number = window.location.pathname,
        text = number.substring(0, number.lastIndexOf('/'));
        const texturl = text[text.length - 1]
        const urlnumber = parseInt(texturl)
      </script>


     <h1> <script type="text/javascript">
        document.write(urlnumber)
    </script> </h1>


{% for indicateur in object_list %}


<!--<canvas id="myChart{{ forloop.counter0 }}"></canvas>
-->   
{% if indicateur.Id_TB.id == 1 %}

  <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category"></h5>
                <h2 class="card-title">{{indicateur.Intitule_Indicateur}}</h2>
                
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                 <button class="btn btn-sm btn-primary btn-simple" id="line{{forloop.counter0}}">Line Chart</button>
                 <button class="btn btn-sm btn-primary btn-simple" id="bar{{forloop.counter0}}">Bar Chart</button>
                 <button class="btn btn-sm btn-primary btn-simple" id="pie{{forloop.counter0}}">Pie Chart</button>

                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart{{ forloop.counter0 }}"></canvas>
            </div>
          </div>
        </div>
        
      </div>

    </div>
<!---
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Graphe 2</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Indicateur 2</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart{{ forloop.counter0 }}"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Graphe 3</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart{{ forloop.counter0 }}"></canvas>
            </div>
          </div>
        </div>
        <br>
    
    


      </div>-->


       

    


    <script>

        const line{{forloop.counter0}} = document.getElementById('line{{forloop.counter0}}');
        const bar{{forloop.counter0}} = document.getElementById('bar{{forloop.counter0}}');
        const pie{{forloop.counter0}} = document.getElementById('pie{{forloop.counter0}}');
      
        line{{forloop.counter0}}.addEventListener('click', changeline);
        bar{{forloop.counter0}}.addEventListener('click', changebar);
        pie{{forloop.counter0}}.addEventListener('click', changepie);
      
        
        const data{{forloop.counter0}} = {
          labels: [{% for don in ListeDonnees %}
                   '{{ don.Date }}',
                   {% endfor %}],
          datasets: [{
            label: '{{indicateur.Intitule_Indicateur}}',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{% for don in ListeDonnees %}
                   '{{ don.Valeur }}',
                   {% endfor %}],
          }]
        };
      
    
        const config{{forloop.counter0}} = {
          type: 'line',
          data: data{{forloop.counter0}},
          options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: ''
            },
          },
          interaction: {
            mode: 'index',
            intersect: false
          },
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Date'
              }
            },
            y: {
              display: true,
              title: {
                display: true,
                text: 'Valeur'
              }
            }
          }
        },
      };

      

      function changeline(){

        const updatetype = 'line';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();
      
      };
      
      function changebar(){
      
        const updatetype = 'bar';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();};
      
      
      function changepie(){
      
        const updatetype = 'pie';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();
      };
      
      
    </script>

    
   

<!--Graphs Scripts-->
<script>
  const myChart{{forloop.counter0}} = new Chart(
    document.getElementById("myChart" + {{ forloop.counter0 }}),
    config{{forloop.counter0}}
  );
  
</script>

{% endif %}
{% endfor %}

<br>

<div class="row">
    <div class="col-lg-4">

        <button class="btn btn-info" id="Modifier">Modifier</button>
        <button class="btn btn-danger" id="Supprimer">Supprimer</button>

    </div>

</div>

</body>

</html>

{% endblock %}
