{% extends "layouts/base.html" %}

{% block title %} {{indicateur.Intitule_Indicateur}} {% endblock %} 

{% block content %}
<div class = "card card-chart">
    <div style= "height: 120px;" class = "card-body">
    <h1><a style= "color: #1d8cf8;" href="">Fiche indicateur {{indicateur.Intitule_Indicateur}}</h1></a>
    <h3>Tableau de bord : {{indicateur.Id_TB}}</h3>
    <!--
    <h3>Graphe : {{indicateur.Id_Graphe}}</h3>
    <h3>Periodicité : {{indicateur.Periodicite}}</h3>
    -->
</div>
</div>

<table class="table tablesorter " id="">

    <tr>
        <th>Libellé</th>
        <td>{{indicateur.Intitule_Indicateur}}</td>
      </tr>
      <tr>
        <th>Objectif de la metrique</th>
        <td>{{indicateur.Objectif}}</td>
      </tr>
      <tr>
        <th>Domaine de la metrique</th>
        <td>{{indicateur.Domaine}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{indicateur.Type}}</td>
      </tr>
      <tr>
        <th>Méthode de calcul</th>
        <td>{{indicateur.Methode_calul}}</td>
      </tr>
      <tr>
        <th>Periodicité de calcul</th>
        <td>{{indicateur.Periodicite}}</td>
      </tr>
      <tr>
        <th>Source de données</th>
        <td>{{indicateur.Source}}</td>
      </tr>
      <tr>
        <th>Presentation Graphique</th>
        <td>{{indicateur.Id_Graphe}}</td>
      </tr>
    
    </table>

    <p><a style= "color: white;" class = "btn btn-info" href="{% url 'indicateur_edit' indicateur.pk%}">Modifier indicateur </a>
    <a style= "color: white;" class = "btn btn-info" href="{% url 'indicateur_delete' indicateur.pk%}">Supprimer indicateur</a></p>


    {% endblock content %}