{% extends "layouts/base.html" %}

{% block title %} {{indicateur.Intitule_Indicateur}} {% endblock %} 

{% block content %}

<div class = "card card-chart">
    <div style= "height: 120px;" class = "card-body">
    <h1><a style= "color: #1d8cf8;" href="">Fiche indicateur {{indicateur.Intitule_Indicateur}}</h1></a>
    <h3>Tableau de bord : {{indicateur.Id_TB}}</h3>
    <!--
    <h3>Graphe : {{indicateur.Id_Graphe}}</h3>
    <h3>Periodicité : {{indicateur.Periodicite}}</h3>
    -->
</div>
</div>

<table class="table tablesorter " id="">

    <tr>
        <th>Libellé</th>
        <td>{{indicateur.Intitule_Indicateur}}</td>
      </tr>
      <tr>
        <th>Objectif de la metrique</th>
        <td>{{indicateur.Objectif}}</td>
      </tr>
      <tr>
        <th>Domaine de la metrique</th>
        <td>{{indicateur.Domaine}}</td>
      </tr>
      <tr>
        <th>Type</th>
        <td>{{indicateur.Type}}</td>
      </tr>
      <tr>
        <th>Méthode de calcul</th>
        <td>{{indicateur.Methode_calcul}}</td>
      </tr>
      <tr>
        <th>Periodicité de calcul</th>
        <td>{{indicateur.Periodicite}}</td>
      </tr>
      <tr>
        <th>Source de données</th>
        <td>{{indicateur.Source}}</td>
      </tr>
      <tr>
        <th>Presentation Graphique</th>
        <td>{{indicateur.Id_Graphe}}</td>
      </tr>
      <tr>
        <th>Validation</th>
        {% if not indicateur.validation_directeur %}
        <td> Non validé </td>
        {% else %}
        <td> Validé par le directeur {% if indicateur.validation_chef_dep %}
          et le chef de departement {% endif %} </td>
        {% endif %}
      </tr>
    
    </table>
    
  {% if indicateur.validation_directeur and indicateur.validation_chef_dep  %}

      <div style= "text-align:right;width: 80%; height: auto;" class = "card-body">
        <h3><a style= "color: green;" href="">Validé</h3></a>

        <h1> <i style="color:#23DC3D;" class="tim-icons icon-check-2"></i> <h2>
       
          

  
  </div>

  {% endif %}

 


    
    {% if DirecteurGroup in user.groups.all %}
    {% if not indicateur.validation_directeur %}
    <p><a class="btn btn-success" href="{% url 'valider-indicateur' indicateur.pk %}">Valider indicateur</a></p>
    {% else %}
    <div class = "card card-chart">
      <div style= "height: auto;" class = "card-body">
      <h1><a style= "color: green;" href="">Validé par le directeur</h1></a>
     
  
  </div>
  </div>
    {% endif %}
    {% elif ChefDeptGroup in user.groups.all %}
    {% if not indicateur.validation_chef_dep %}
    <p><a class="btn btn-success" href="{% url 'valider-indicateur-bis' indicateur.pk %}">Valider indicateur</a></p>
    {% endif %}
  
  </div>


    
    {% else %}

    <p><a style= "color: white;" class = "btn btn-info" href="{% url 'indicateur_edit' indicateur.pk%}">Modifier indicateur </a>
    <a style= "color: white;" class = "btn btn-danger" href="{% url 'indicateur_delete' indicateur.pk%}">Supprimer indicateur</a> </p>
    <a class = "btn btn-alert btn-simple" href="{% url 'tbb_detail' indicateur.Id_TB.pk%}">Revenir au tableau de bord</a>


  
    {% endif %}



    {% endblock content %}