{% extends "layouts/base.html" %}

{% block title %}  Interpretation {{interpretation.Id_Indicateur}} du {{interpretation.Date}} {% endblock%}

{% block content %}

<div class = "card card-chart">
    <div style = "height: auto;" class = "card-body">
    <h1><a style= "color: #1d8cf8;" href="">Interpretation N°{{interpretation.id}}</a></h1>
    <h3>Indicateur : {{interpretation.Id_Indicateur}}</h3>
    <h3>Date : {{interpretation.Date}} </h3>
    <h3>Contenu :</h3>
    <div class="typography-line">
        <blockquote>
          <p class="blockquote blockquote-blue">
             {{interpretation.Contenu}}
            <br>
            <br>
         
          </p>
        </blockquote>
      </div>
    

    </div>

</div>

{% if interpretation.validation_directeur and interpretation.validation_chef_dep  %}

      <div style= "text-align:right;width: 80%; height: auto;" class = "card-body">
        <h3><a style= "color: green;" href="">Validé</h3></a>

        <h1> <i style="color:#23DC3D;" class="tim-icons icon-check-2"></i> <h2>
       
          

  
  </div>

  {% elif interpretation.validation_chef_dep %}
  <div style= "text-align:right;width: 80%; height: auto;" class = "card-body">
    <h3><a style= "color: green;" href="">Validé par le chef département</h3></a>

    <h1> <i style="color:#23DC3D;" class="tim-icons icon-check-2"></i> <h2>
   
      


</div>

{% endif%}



{% if IngenieurGroup in user.groups.all %}
<p><a class = "btn btn-light" href="{% url 'interpretation_edit' interpretation.pk%}">Modifier Interpretation</a>



</p>
{% else %}



{% if DirecteurGroup in user.groups.all and not interpretation.validation_directeur%}
<p>
 
  <a class = "btn btn-success" href="{% url 'valider-inter' interpretation.pk %}">Valider interpretation</a>

  <a class = "btn btn-danger" href="{% url 'refus-inter' interpretation.pk %}">Refuser interpretation</a>



</p>
{% elif ChefDeptGroup in user.groups.all and not interpretation.validation_chef_dep%}
<p>
 
  <a class = "btn btn-success" href="{% url 'valider-inter-bis' interpretation.pk %}">Valider interpretation</a>

  <a class = "btn btn-danger" href="{% url 'refus-inter' interpretation.pk %}">Refuser interpretation</a>



</p>


{% endif %}

{% endif %}

<a class = "btn btn-alert btn-simple" href="{% url 'tbb_detail' interpretation.Id_Indicateur.Id_TB.pk%}">Revenir au tableau de bord</a>


{% endblock content %}