{% extends "layouts/base.html" %}

{% block title %} Liste des Indicateurs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title"> Liste des Indicateurs </h2>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Libellé
                </th>
                <th>
                  Objectif
                </th>
                <th>
                  Domaine
                </th>
                <th>
                  Type
                </th>
                <th>
                  Méthode de calcul
                </th>
                <th>
                  Periodicité de calcul
                </th>
              
                <th>
                  Type de données
                </th>

                <th>
                  Presentation Graphique
                </th>
                <th>
                  Tableau de Bord
                </th>
                <th class="text-center">
                  Createur
                </th>
                <th class="text-center">
                  Validation Directeur
                </th>
                <th class="text-center">
                  Validation Chef Dept
                </th>
              </tr>
            </thead>
            <tbody>
            {% for ind in ListeInd %}
              <tr>
                <td>
                <a style= "color: #1d8cf8;" href="{% url 'indicateur_detail' ind.pk%}">
                  {{ ind.Intitule_Indicateur }}
                </td> </a>
                <td>
                    {{ ind.Objectif }}
                </td>
                <td>
                    {{ ind.Domaine }}
                </td>
                <td>
                  {{ ind.Type }}
                </td>
                <td>
                    {{ ind.Methode_calcul }}
                </td>
                <td>
                    {{ ind.Periodicite }}
                </td>
              
                <td>
                  {{ ind.type_donnees }}
              </td>
                <td>
                  {{ ind.TypeMiniGraphe}}
                </td>
                <td>
                  {{ ind.Id_TB}}
                </td>

                <td class="text-center">
                  {{ ind.user }}
                </td>

                <td class="text-center">
                  {% if ind.validation_directeur %}
                  <i style="color:#23DC3D;" class="tim-icons icon-check-2"></i>
                  {% else %}
                  <i style="color:red;" class="tim-icons icon-simple-remove"></i>
                  {% endif %}

                </td>

                <td class="text-center">
                  {% if ind.validation_chef_dep %}
                  <i style="color:#23DC3D;" class="tim-icons icon-check-2"></i>
                  {% else %}
                  <i style="color:red;" class="tim-icons icon-simple-remove"></i>
                  {% endif %}

                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="col-md-12">
    <div class="card  card-plain">
      <div class="card-header">
        <h4 class="card-title"> Table on Plain Background</h4>
        <p class="category"> Here is a subtitle for this table</p>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Name
                </th>
                <th>
                  Country
                </th>
                <th>
                  City
                </th>
                <th class="text-center">
                  Salary
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Dakota Rice
                </td>
                <td>
                  Niger
                </td>
                <td>
                  Oud-Turnhout
                </td>
                <td class="text-center">
                  $36,738
                </td>
              </tr>
              <tr>
                <td>
                  Minerva Hooper
                </td>
                <td>
                  Curaçao
                </td>
                <td>
                  Sinaai-Waas
                </td>
                <td class="text-center">
                  $23,789
                </td>
              </tr>
              <tr>
                <td>
                  Sage Rodriguez
                </td>
                <td>
                  Netherlands
                </td>
                <td>
                  Baileux
                </td>
                <td class="text-center">
                  $56,142
                </td>
              </tr>
              <tr>
                <td>
                  Philip Chaney
                </td>
                <td>
                  Korea, South
                </td>
                <td>
                  Overland Park
                </td>
                <td class="text-center">
                  $38,735
                </td>
              </tr>
              <tr>
                <td>
                  Doris Greene
                </td>
                <td>
                  Malawi
                </td>
                <td>
                  Feldkirchen in Kärnten
                </td>
                <td class="text-center">
                  $63,542
                </td>
              </tr>
              <tr>
                <td>
                  Mason Porter
                </td>
                <td>
                  Chile
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $78,615
                </td>
              </tr>
              <tr>
                <td>
                  Jon Porter
                </td>
                <td>
                  Portugal
                </td>
                <td>
                  Gloucester
                </td>
                <td class="text-center">
                  $98,615
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>-->
</div>

{% endblock content %}

