{% extends "layouts/base.html" %}

{% block title %} {{ tb.Intitule }}{% endblock %} 

{% block content%}
<html>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.2.61/jspdf.min.js"></script> 


<body>
  <h2>{{ tb.Intitule }}</h2>
  
{% for indicateur in object_list %}


<!--<canvas id="myChart{{ forloop.counter0 }}"></canvas>
-->   


  <div class="row">

      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category"></h5>
                <h2 class="card-title">{{indicateur.Intitule_Indicateur}}</h2>
                
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                 <button class="btn btn-sm btn-primary btn-simple" id="line{{forloop.counter0}}">Line</button>
                 <button class="btn btn-sm btn-primary btn-simple" id="bar{{forloop.counter0}}">Bar</button>
                 <button class="btn btn-sm btn-primary btn-simple" id="pie{{forloop.counter0}}">Pie</button>

                </div>
              </div>
            </div>
            <div class="card-body">
              <div style = "height: 530px;
              width: 100%;" class="chart-area">
                <canvas id="myChart{{ forloop.counter0 }}"></canvas>
              </div>
            </div>
          </div>
          
        </div>
        
      </div>

    </div>
  
  
  
  <!--
    <button class="btn btn-alert" onclick="downloadPDF()">Telecharger Rapport</button>
  scripts for download Pdf report 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js
   "></script> -->

<!---
    <div class="row">
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Graphe 2</h5>
            <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Indicateur 2</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart{{ forloop.counter0 }}"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Graphe 3</h5>
            <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="myChart{{ forloop.counter0 }}"></canvas>
            </div>
          </div>
        </div>
        <br>
    
    


      </div>-->


       

    


    <script>

        const line{{forloop.counter0}} = document.getElementById('line{{forloop.counter0}}');
        const bar{{forloop.counter0}} = document.getElementById('bar{{forloop.counter0}}');
        const pie{{forloop.counter0}} = document.getElementById('pie{{forloop.counter0}}');
      
        line{{forloop.counter0}}.addEventListener('click', changeline);
        bar{{forloop.counter0}}.addEventListener('click', changebar);
        pie{{forloop.counter0}}.addEventListener('click', changepie);
      
        
        const data{{forloop.counter0}} = {
          labels: [{% for don in ListeDonnees %}
                    {% if don.Id_Indicateur.id == indicateur.id %}
                   '{{ don.Date }}',
                    {% endif %}
                   {% endfor %}],
          datasets: [{
            label: '{{indicateur.Intitule_Indicateur}}',
            backgroundColor: color => {
              console.log(color)
              let colors = color.index > 1 ? 'rgba(75,192,192,0.2)' : 'rgba(255,26,104,0.2)';
               return colors;
             },
            borderColor: color => {
              console.log(color)
              let colors = color.index > 1 ? 'rgba(75,192,192,0.2)' : 'rgba(255,26,104,0.2)';
               return colors;
             },
            data: [{% for don in ListeDonnees %}
                   {% if don.Id_Indicateur.id == indicateur.id %}
                   '{{ don.Valeur }}',
                   {% endif %}
                   {% endfor %}],
          }]
        };
      
        //background color const
  const bgColor{{forloop.counter0}} = {
    id: 'bgColor{{forloop.counter0}}',
    beforeDraw: (chart, options) => {
      const { ctx, width, height } = chart;
      ctx.fillStyle = '#26293d';
      ctx.fillRect(0,0, width, height)
      ctx.restore();
    }
  }
    
        const config{{forloop.counter0}} = {
          type: 'line',
          data: data{{forloop.counter0}},
          options: {
          responsive: true,
          plugins: {
            title: {
              display: true,
              text: ''
            },
          },
          interaction: {
            mode: 'index',
            intersect: false
          },
          scales: {
            x: {
              display: true,
              title: {
                display: true,
                text: 'Date'
              }
            },
            y: {
              display: true,
              title: {
                display: true,
                text: 'Valeur'
              }
            }
          }
        },
        //add the background color plugin 
        plugins: [bgColor{{forloop.counter0}}]
      };

      

      function changeline(){

        const updatetype = 'line';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();
      
      };
      
      function changebar(){
      
        const updatetype = 'bar';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();};
      
      
      function changepie(){
      
        const updatetype = 'pie';
        myChart{{forloop.counter0}}.config.type = updatetype;
        myChart{{forloop.counter0}}.update();
      };

      
      
      
    </script>

    
   

<!--Graphs Scripts-->
<script>
  const myChart{{forloop.counter0}} = new Chart(
    document.getElementById("myChart" + {{ forloop.counter0 }}),
    config{{forloop.counter0}}
  );
  
  /*
  //for download pdf 
  function downloadPDF(){
    const canvas = document.getElementById('myChart{{forloop.counter0}}');
    //create image 
    const canvasImage = canvas.toDataURL('image/jpeg', 1.0);
    console.log(canvasImage)
   
    //image must go to PDF
    let pdf = new jsPDF('landscape');
    pdf.setFontSize(20);
   
    pdf.addImage(canvasImage, 'JPEG', 15, 15, 280, 150);
    //add text 
    pdf.text(10, 10, '   Tableau de bord : {{indicateur.Id_TB}}                                              Indicateur : {{indicateur.Intitule_Indicateur}} ');
    pdf.save('{{indicateur.Intitule_Indicateur}}_{{indicateur.Id_TB}}.pdf');}

*/
  
  
</script>

{% endfor %}

<br>

<div class="row">
    <div class="col-lg-10 mx-auto">
  
        <a class="btn btn-info" href="{% url 'tbb_edit' tb.pk%}">Modifier Tableau de Bord</a>
        <a class="btn btn-danger" href="{% url 'tbb_delete' tb.pk%}">Supprimer Tableau de Bord</a>
        <button class="btn btn-alert" onclick="downloadPDF()">Telecharger Rapport</button>
        <!--scripts for download Pdf report -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js
         "></script>
  
    </div>
  

   <script>

    function downloadPDF(){

      let pdf = new jsPDF('landscape');
      /*var imgData = '';
      console.log(imgData);
      doc.addImage(imgData, 'JPEG', 15, 40, 180, 160);
    */
      //pdf.setFont("helvetica");
    
      //for footer 
      pdf.page = 1;

      function footer() {
        pdf.text(150,285, 'page ' + pdf.page);
        pdf.page ++;
      };

      pdf.setFontSize(50);
      pdf.setFontType("bold");

      //report title 
      pdf.text(80, 80, 'Rapport {{tb.Intitule}}');
      pdf.addPage();
      pdf.footer();
      pdf.setFontSize(20);
      pdf.setFontType("normal");
      
      
      {% for indicateur in object_list %}
      const canvas{{forloop.counter0}} = document.getElementById('myChart{{forloop.counter0}}');
      //create image 
      const canvasImage{{forloop.counter0}} = canvas{{forloop.counter0}}.toDataURL('image/jpeg', 1.0);

      console.log(canvasImage{{forloop.counter0}})
     
      //image must go to PDF
      
     
     
      pdf.addImage(canvasImage{{forloop.counter0}}, 'JPEG', 15, 15, 280, 150);
      pdf.text(10, 10, '   Indicateur {{forloop.counter}} : {{indicateur.Intitule_Indicateur}}                                               ');

      pdf.addPage();
      footer();
    
     {% endfor %}
     //delete last blank page
     var pageCount = pdf.internal.getNumberOfPages();
     pdf.deletePage(pageCount)

      //add text 
      window.open(pdf.output('bloburl'), 'Rapport {{tb.Intitule}}'); 
      //pdf.save('Rapport {{tb.Intitule}}.pdf');
    }

       

   </script>


</div>

</body>

</html>

{% endblock %}



  