{% extends "layouts/base.html" %}

<!--
    {% for indicateur in object_list %}
        <h2><a href="">{{indicateur.Intitule_Indicateur}}</h2></a>
        <p>{{indicateur.Id_TB}}</p>
        <p>{{indicateur.Id_Graphe}}</p>
        <p>{{indicateur.Periodicite}}</p>
    {% endfor %}

-->
{% block content%}
<html>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
  <h2>tableau de bord {{ tb.Intitule }}</h2>
  {% for indicateur in object_list %}
  {{indicateur.Intitule_Indicateur}}
  
  <div class="btn-group btn-group-toggle float-right">
   
      <button class="btn btn-success" id="line">Line Chart</button>
      <button class="btn btn-info" id="bar">Bar Chart</button>
      <button class="btn btn" id="pie">Pie Chart</button>
    
    </div>
    
  
  
  <!--<canvas id="myChart{{ forloop.counter0 }}"></canvas>
  -->   
  
  
  
      <div class="row">
  
        <div class="col-12">
          <div class="card card-chart">
            <div class="card-header ">
              <div class="row">
                <div class="col-sm-6 text-left">
                  <h5 class="card-category">Graphe 1 </h5>
                  <h2 class="card-title">{{indicateur.Intitule_Indicateur}}</h2>
                  
                </div>
                <div class="col-sm-6">
                  <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                    <label class="btn btn-sm btn-primary btn-simple active" id="0">
                      <input type="radio" name="options" checked>
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Accounts</span>
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-single-02"></i>
                      </span>
                    </label>
                    <label class="btn btn-sm btn-primary btn-simple" id="1">
                      <input type="radio" class="d-none d-sm-none" name="options">
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Purchases</span>
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-gift-2"></i>
                      </span>
                    </label>
                    <label class="btn btn-sm btn-primary btn-simple" id="2">
                      <input type="radio" class="d-none" name="options">
                      <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Sessions</span>
                      <span class="d-block d-sm-none">
                        <i class="tim-icons icon-tap-02"></i>
                      </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myChart{{ forloop.counter0 }}"></canvas>
              </div>
            </div>
          </div>
          
        </div>
  
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Graphe 2</h5>
              <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i> Indicateur 2</h3>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myChart{{ forloop.counter0 }}"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card card-chart">
            <div class="card-header">
              <h5 class="card-category">Graphe 3</h5>
              <h3 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i> 3,500€</h3>
            </div>
            <div class="card-body">
              <div class="chart-area">
                <canvas id="myChart{{ forloop.counter0 }}"></canvas>
              </div>
            </div>
          </div>
          <br>
      
      
  
  
        </div>
  
  
         
  
  
  
  
  
  
  
  
  
  
  
  
  
  
      <script>
  
          const line = document.getElementById('line');
          const bar = document.getElementById('bar');
          const pie = document.getElementById('pie');
        
          line.addEventListener('click', changeline);
          bar.addEventListener('click', changebar);
          pie.addEventListener('click', changepie);
        
          
          const data = {
            labels: [{% for don in ListeDonnees %}
                     '{{ don.Date }}',
                     {% endfor %}],
            datasets: [{
              label: 'what{{forloop.counter0}}',
              backgroundColor: 'rgb(255, 99, 132)',
              borderColor: 'rgb(255, 99, 132)',
              data: [{% for don in ListeDonnees %}
                     '{{ don.Valeur }}',
                     {% endfor %}],
            }]
          };
        
        const config = {
          type: 'line',
          data: data,
          options: {
            responsive: true,
            plugins: {
              title: {
                display: true,
                text: ''
              },
            },
            interaction: {
              mode: 'index',
              intersect: false
            },
            scales: {
              x: {
                display: true,
                title: {
                  display: true,
                  text: 'Date'
                }
              },
              y: {
                display: true,
                title: {
                  display: true,
                  text: 'Valeur'
                }
              }
            }
          },
        };
  
        function changeline(){
  
          const updatetype = 'line';
          myChart{{forloop.counter0}}.config.type = updatetype;
          myChart{{forloop.counter0}}.update();
        
        };
        
        function changebar(){
        
          const updatetype = 'bar';
          myChart{{forloop.counter0}}.config.type = updatetype;
          myChart{{forloop.counter0}}.update();};
        
        
        function changepie(){
        
          const updatetype = 'pie';
          myChart{{forloop.counter0}}.config.type = updatetype;
          myChart{{forloop.counter0}}.update();
        };
        
        
      </script>
  
      
     
  
      <!--Graphs Scripts-->
  <script>
    const myChart{{forloop.counter0}} = new Chart(
      document.getElementById("myChart" + {{ forloop.counter0 }}),
      config
    );
    
  </script>
  
  {% endfor %}
  
  <br>
  
  <div class="row">
      <div class="col-lg-4">
  
        <a class="btn btn-info" href="{% url 'tbb_edit' tb.pk%}">Modifier</a>
        <a class="btn btn-danger" href="{% url 'tbb_delete' tb.pk%}">Supprimer</a>
  
      </div>
  
  </div>
  
  </body>
  </html>
  
  {% endblock %}
  