{% extends "administration/layouts/baseAdmin.html"%}

{% block title %} Accueil {% endblock title %}

{% block content %}
<body>
    <h1> Bienvenue a l'Administration du TBSSI ELIT {{user.get_username}}!
      <br>
          
    </h1>

    <div class="typography-line">
      <blockquote>
        <p class="blockquote blockquote-blue" style="color:#1d8cf8;">
          Bienvenue cher administrateur :
          Vous êtes chargé d'administrer le TBSSI et de fournir toutes les données nécessaires <br> pour les utilisateur
          En effet vous devez gérer les filiales, directions et départements des différents utilisateurs <br> de l'application 
          vous devez aussi gérer tout ce qui concerne les indicateurs
          et l'alimentation de ces derniers          <br>
          <br>
          <small>
            - L'equipe TBSSI ELIT
          </small>
        </p>
      </blockquote>
    </div>

 

    <a class="btn btn-alert" href="{% url 'home' %}"> Revenir vers Tableau de bord </a>

</body>

{% endblock %}