{% extends 'administration/layouts/baseAdmin.html' %}

{% block title %} {{mesure.nom_mesure}} {% endblock title %}

{% block content %}

<div class = "card card-chart">
    <div style = "height: 270px;" class = "card-body">
    <h1><a style= "color: #1d8cf8;" href="">Mesure {{mesure.nom_mesure}}</a></h1>
    <h3>Nom Mesure : {{mesure.nom_mesure}}</h3>
    


    </div>

</div>

<p><a class = "btn btn-light" href="{% url 'mesure_edit' mesure.pk%}">Modifier Mesure</a>
    <a class = "btn btn-danger" href="{% url 'mesure_delete' mesure.pk%}">Supprimer Mesure</a></p>


{% endblock %}